BOT_TOKEN=токен_от_BotFather
ADMIN_IDS=ваш_telegram_id
FIREBASE_DB_URL=https://ВАШ-ПРОЕКТ-default-rtdb.firebaseio.com
GOOGLE_APPLICATION_CREDENTIALS=serviceAccount.json
APP_NS=okm
PRICE_TJS=20
CARD_NUMBER=0000 0000 0000 0000
CARD_HOLDER=NAME SURNAME
APP_URL=https://ваш-сайт/
